* {
    margin: 0;
    color: #F2EFEC;
    font-family: Inter;
}

body{
    background-color: #090807;
}

button{
    border: none;
    cursor: pointer;
}
button:hover{
    opacity: 90%;
}

input{
    border: none;
}
input:focus {
    outline: none;
    box-shadow: none;
    border: none;
}


/* Create account */
#mSignup-page{
    display: flex;
    flex-direction: column;
    margin-top: 32vh;
    margin-left: 18vw;
    width: fit-content;
    /* outline: solid red 1px; */
}

h1{
    margin: 0;
    font-size: 50px;
    font-weight:600;
}

h3{
    margin-top: 15px;
    color: #ABABAB;
    font-size: 17px;
    font-weight:600;
}
h3 a{
    margin-left: 6px;
    color: #657AC8;
    font-size: 15px;
    text-decoration: none;
}

.signup{
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    left: -20px;
    align-self: center;
    /* outline: solid red 1px; */
}
.signup button{
    padding-block: 20px;
    padding-inline: 85px;
    width: 305px;
    border-radius: 50px;
    font-size: 18px;
    font-weight:600;
    background-color: #2358A6;
}

.sSignup{
    margin-top: 45px;
    margin-bottom: 20px;
}


/* Student Signup */
#signup-page{
    margin-top: 24vh;
    margin-left: 18vw;
}
#signup-page form{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
}

h2{
    margin-top: 0;
    margin-bottom: 4px;
    color: #ABABAB;
    font-size: 20px;
    font-weight:600;
}

/* Normal field */
.field{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 380px;
    margin-top: 25px;
    padding-top: 6px;
    padding-bottom: 10px;
    padding-inline: 20px;
    background-color: #606972;
    border-radius: 18px;
}
.field img{
    width: 28px;
    height: 28px;
}
.name img{
    width: 24px;
    height: 24px;
}

.innerField{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 45px;
    color: #FFFFFF;
}
.innerField label{
    position: absolute;
    font-size: 17px;
    font-weight: 400;
    color: #FFFFFF;
    transition: all 0.3s ease;
    pointer-events: none;
}
.innerField input{
    position: relative;
    padding-top: 6px;
    width: 335px;
    color: #F2EFEC;
    font-size: 20px;
    font-weight:600;
    box-sizing: border-box;
    background-color: transparent;
}
.innerField input:focus,
.innerField input:not(:placeholder-shown){
    top: 5px;
}
.innerField input:focus + label,
.innerField input:not(:placeholder-shown) + label {
    top: -2px;
    font-size: 12px;
    font-weight: 300;
}

/* Name field */
.name{
    display: flex;
    flex-direction: row;
    width: 420px;
    justify-content: space-between;
    /* outline: solid red 1px; */
}
.name .field{
    width: 155px;
}
.name .field input{
    width: 110px;
}

.pWarning, .eWarning{
    margin-top: 2px;
    margin-left: -120px;
    font-size: 12px;
    font-weight:200;
    color: red;
    display: none;
    /* display: block; */
}
.eWarning{
    margin-left: -235px;
}

.createAcc{
    margin-top: 30px;
    padding-block: 20px;
    padding-inline: 55px;
    font-size: 18px;
    font-weight:600;
    background-color: #2358A6;
    border-radius: 50px;
}

