* {
    margin: 0;
    /* color: #110704; */
    font-family: Inter;
}

html{
    height: 100vh;
    background-color: #fcf2ec;
}

/* body{
    display: none;
} */

button{
    border: none;
    cursor: pointer;
}
button:hover{
    opacity: 90%;
}

input{
    border: none;
}
input:focus {
    outline: none;
    box-shadow: none;
    border: none;
}


/* Loader Style */
.loader-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 9999;
}
.loader {
    width: 65px;
    aspect-ratio: 1;
    position: relative;
}
.loader:before,
.loader:after {
    content: "";
    position: absolute;
    border-radius: 50px;
    box-shadow: 0 0 0 5px inset #2358A6;
    animation: loading 3.5s infinite;
}
.loader:after {
    animation-delay: -1.75s;
}
@keyframes loading {
    0% {inset: 0 35px 35px 0;}
    12.5% {inset: 0 35px 0 0;}
    25% {inset: 35px 35px 0 0;}
    37.5% {inset: 35px 0 0 0;}
    50% {inset: 35px 0 0 35px;}
    62.5% {inset: 0 0 0 35px;}
    75% {inset: 0 0 35px 35px;}
    87.5% {inset: 0 0 35px 0;}
    100% {inset: 0 35px 35px 0;}
}

/* Footer */
footer{
    display: flex;
    padding: 3em;
    justify-content: center;
    background: #000 url("../assets/topography.svg");
}
.footer{
    display: flex;
    flex-direction: row;
    width: 70vw;
    /* justify-content: space-between; */
    padding: 1.5em;
    background-color: #fff;
}
.footer-left{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-right: 3.5%;
    /* margin-right: 30px; */
}
.footer-left img{
    width: 150px;
    height: 70px;
    justify-self: center;
    margin-left: 40px;
    margin-block: 10px;
}
.footer-left p{
    width: 240px;
    line-height: 1.5;
}
.quote{
    width: 300px !important;
    font-size: 18px;
    font-family: 'Rubik Mono One', monospace;
    font-style: italic;
    font-weight: 600;
}

.footer-right{
    display: flex;
    flex-direction: column;
    width: 800px;
    justify-content: space-between;
}
.redirects{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-inline: 5%;
    justify-content: space-between;
}
.redirects div{
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: space-between;
}
.redirects a{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    margin-top: 16px;
    padding-right: 15px;
    padding-block: 2px;
    text-decoration: none;
    color: #000;
     /* existing styles */
    background-image: linear-gradient(to left, #ffffff00 50%, #ff885d 50%);
    background-size: 201% 100%;
    background-position: 100% 100%;
    transition: background-position 0.25s ease-in-out;
}
.redirects a p{
    margin-right: 10px;
    font-size: 12px;
    font-weight: 800;
    color: #ff885d;
}
.redirects a:hover{
    /* color: rgba(0, 0, 0, 0.7); */
    background-position: 0% 100%;
}
.line{
    width: 100%;
    height: 2px;
    margin-block: 10px;
    background-color: #ff885d;
}
.footer-misc{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    justify-content: space-between;
    align-items: center;
}
.footer-misc p{
    font-size: 11px;
}
.footer-misc div{
    height: 18px;
}
.footer-misc img{
    width: 18px;
    height: 18px;
}
@media (max-width: 1070px){
    .footer{
        width: 749px;
    }
}

/* Create account */
#index-page, #login-page, #signup-page{
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: url("../assets/topography.svg");
}
.left-index{
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: calc(72vh - 20px);
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
    background-color: #fdfaf8;
    z-index: 1;
}
.right-index{
    width: calc(35vw + 20px);
    height: 72vh;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.6);
    background: url(../assets/classroom.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    margin: 0;
    font-size: 40px;
    font-weight:600;
}

h3{
    margin-top: 15px;
    color: #ababab;
    font-size: 17px;
    font-weight:600;
}
h3 a{
    margin-left: 6px;
    color: #657AC8;
    font-size: 15px;
    text-decoration: none;
}

.signup{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}
.signup button{
    padding-block: 20px;
    padding-inline: 85px;
    width: 305px;
    border-radius: 50px;
    font-size: 18px;
    font-weight:600;
    background-color: #ff885d;
}
.signup a{
    margin-bottom: 20px;
    border-radius: 50px;
}


/* Student & Parent Signup */
#signup-page form, #login-page form{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    width: fit-content;
    align-items: center;
}

#signup-page h2{
    margin-bottom: -5px;
    color: #ABABAB;
    font-size: 20px;
    font-weight:600;
}

.field{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 28vw;
    margin-bottom: 25px;
    padding-block: 10px;
    padding-inline: 20px;
    background-color: #606972;
    border-radius: 18px;
}
.field:has(input:valid), .field:has(input:focus){
    background-color: #545b63;
}
.field img{
    width: 28px;
    height: 28px;
}
.name img{
    width: 24px;
    height: 24px;
}

.innerField{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 45px;
}
.innerField label{
    position: absolute;
    font-size: 17px;
    font-weight: 400;
    transition: all 0.3s ease;
    pointer-events: none;
    color: #fdfaf8;
}
.innerField input{
    position: relative;
    padding-block: 10px;
    width: calc(28vw - 45px);
    font-size: 20px;
    font-weight:600;
    box-sizing: border-box;
    background-color: transparent;
    color: #fdfaf8;
}
.innerField input:focus,
.innerField input:not(:placeholder-shown){
    top: 5px;
    padding: 0;
}
.innerField input:focus + label,
.innerField input:not(:placeholder-shown) + label {
    top: -2px;
    font-size: 12px;
    font-weight: 300;
}

.name{
    display: flex;
    flex-direction: row;
    width: calc(28vw + 40px);
    justify-content: space-between;
}
.name .field{
    width: calc(14vw - 35px);
}
.name .field input{
    width: calc(14vw - 65px);
}

#submit:disabled {
    cursor: not-allowed;
    color: initial;
}
.createAcc, .loginBtn{
    margin-top: 5px;
    padding-block: 18px;
    padding-inline: 55px;
    font-size: 18px;
    font-weight:600;
    background-color: #ff885d;
    border-radius: 50px;
}
.loginBtn{
    padding-inline: 75px;
}

@media (min-width: 1360px){
    .field{
        width: 380px;
    }
    .innerField input{
        width: 335px;
    }
    .name .field input{
        width: 110px;
    }
    .name{
        width: 420px;
    }
    .name .field{
        width: 155px;
    }
    .name .field input{
        width: 110px;
    }
}

/* Warnings */
.pWarning, .eWarning, .ceWarning, .lWarning{
    margin-top: 2px;
    margin-left: -120px;
    margin-bottom: 8px;
    font-size: 12px;
    font-weight:200;
    color: red;
    display: none;
    /* display: block; */
}
.eWarning{
    margin-left: -235px;
}
.ceWarning{
    margin-left: -160px;
}
.lWarning{
    margin-left: -150px;
}

